* {
    margin: 0;
    padding: 0;
}

.tableClass,
tr,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;

}
.container{
    border: 0;
}

a {
    text-decoration: none;
    color: rgb(76, 76, 250);
}

thead {
    background-color: rgb(147, 36, 36);
    color: rgb(208, 207, 207);
}

tbody {
    background-color: rgb(255, 255, 198);
}